

/// breakpoints -------------------
$breakpoint-medium:1024px !default;
$breakpoint-medium-portrait:768px !default;
$breakpoint-large: $breakpoint-medium + 1 !default;
$breakpoint-small: 640px !default;
$breakpoint-small-portrait: 415px !default;
$breakpoint-tiny:220px !default;
$breakpoint-x-large:1440px !default;
$enforce-hybrid-display:true !default;
$breakpoint-hybrid-medium: 1280px !default;
$breakpoint-hybrid-medium-height:700px !default;


/// grid -------------------------------------
$grid-width: 1300px !default;
$grid-column-gutter: 30px !default;
$grid-columns: 12 !default;
$grid-touch-horizontal-constrain:true !default;

$Grid: (
        width:$grid-width,
        column-gutter:$grid-column-gutter,
        columns:$grid-columns,
        touch-horizontal-constrain:$grid-touch-horizontal-constrain
);